server:
  address: smtp.basdebikini.com
  port: 587
  authentification: True
login:
  username: bobleponge@basdebikini.com
  password: 1234567890123456
addresses:
  from_name: Bob L'Éponge
  from_address: bobleponge@basdebikini.com
  to_name: Bob L'Éponge
  to_address: bobleponge@basdebikini.com
msg_info:
  subject: Test message
